{ % extends "base.html" % }

{% block head_content %}
    <title>Create new post  sedicgram</title>
{% endblock %}


{% block container %}

    <div class="container">
        <div class="row">
            <div class="col-6">
                <h4>Post new photo</h4>
                <form action="">
                    <div class="form-group">
                        <input type="text" placeholder="Title">

                    </div>
                    <div class="form-group">
                        <label for=""> Choose your photo</label>
                        <input type="file" placeholder="Photo">
                    </div>
                    <button type='submit'>Publish</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}