{% extends "base.html" %}

{% block head_content %}
    <title>{{request.user.username}}</title>
{% endblock %}

{% block container %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <form action="{% url 'Users:update' %}">

                    {% csrf_token %}

                    <div class="media">
                        {% if Profile.profile_picture %}

                            <img src="{{Profile.profile_picture}}">
                        {% else %}  
                            <img src="{% static 'img/default-profile.jpg' %}" alt="">
                        {% endif %} 
                    </div>

                    <div class="media-body">
                        <input type="file">
                    </div>

                    <br><br>

                    <div class="form-group">
                        {# aca se cambia el web site #}
                        
                        <label for="website">Website</label>
                        <input
                        type="text"
                        name="website"
                        placeholder="Website"

                        {# Voy a manter la ifnormacion ingresada del usuario si existe un error #}
                        value="{% if form.errors %}{{form.website.value}} {% else %} {{Profile.website}} {% endif %} "

                        >
                    </div>

                    <div class="form-group">
                        <label for="biography"> Biography </label>
                        <textarea
                            name="biography"
                            cols="30"
                            rows="10">
                        </textarea>
                        
                            
                
                        
                    </div>
                    <div class="form-group">
                        <label for="phone_number"> Phone Number</label>
                        <input
                        type="number"
                        name="phone_number"
                        placeholder="Phone Number"
                        value="{% if form.errors %}{{form.phone.numer.errors}}{% else %} {{Profile.phone.number}}{% endif %} "
                        >
                        <button type="submit">update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}